.about_main {
    display: flex;
    flex-direction: column;
    width: 70%; /* Vous pouvez supprimer cette ligne ou utiliser une largeur différente selon vos besoins */
    margin: 50px auto; /* Ajoute cette ligne pour centrer horizontalement le conteneur */
  }