.housing-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
}

.housing-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.housing-item h2 {
    position: absolute;
    color: white;
    bottom: 10px;
    left: 0;
    padding: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
}

@media only screen and (max-width: 768px) {
    .housing-item img {
        width: 100%;
        min-height: 355px;
    } 
}