.accomodation_collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.accomodation_collapse_item {
    width: 50%;
}

.block-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.block-card-rating {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-end;
}

.block-name-location-tags {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
}