.accomodation_collapse {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}

.accomodation_collapse_item {
    width: 50%;
}

.block-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.block-card-rating {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.block-name-location-tags {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

.block-name-location-tags > * {
    margin: 0;
}

.main-housing {
    margin: 30px 80px;
}

@media only screen and (max-width: 768px) {
    .block-info {
        flex-direction: column;
    }

    .block-card-rating {
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .accomodation_collapse {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 0px;
    }

    .accomodation_collapse_item {
        width: 100%;
    }

    .main-housing {
        margin: 20px;
    }
  }