.tags-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: 20px;
}

.tag {
    color: white;
    background: #FF6060;
    font-size: 14px;
    font-weight: 700;
    padding: 7px 30px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 15px;
    white-space: nowrap;
}