.tags-box {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.tag {
    color: white;
    background: #FF6060;
    padding: 5px 30px;
    border-radius: 10px;
    font-size: 15px;
    height: 25px;
    margin-top: 15px;
    white-space: nowrap;
}