.collapse_title {
    background: #FF6060;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    height: 40px;
}

.collapse_content {
    color: black;
    background-color: white;
    max-height: 0;
    margin: 15px;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.collapse_content_hidden {
    height: auto;
    max-height: 200px;
    margin: 15px;
    transition: max-height 0.8s ease;
}