.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;
    padding-top: 30px;
  }
  
  .logo {
    width: 100px;
    padding: 0 70px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0 70px;  
  }
  
  .nav-item {
    display: inline-block;
    margin-left: 1rem; /* Ajustez l'espacement entre les liens */
  }
  
  .nav-link {
    text-decoration: none;
    color: #333333; /* Ajoutez votre couleur de texte */
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #007bff; /* Changez la couleur du texte au survol */
  }

  @media only screen and (max-width: 768px) {
    .logo-container {
      width: 40%;
    }

    .logo {
      
    }

    .nav {
      width: 40%;
    }

    .nav-list {
      padding: 0;
    }
}