.footer {
    background-color: #000000;
    color: #ffffff; 
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    bottom: 0;
    width: 100%;
    padding-top: 40px;
    box-sizing: border-box;
  }
  
  .logo {
    width: 100px;
  }
  
  .copyright p {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .footer {
      padding: 50px;
      gap: 10px;
      width: 100%;
    }
    
    .copyright p {
      text-align: center;
      max-width: 150px;
    }
  }